# Ignorar diretórios e arquivos gerados pela IDE Eclipse
/.settings/
/.project
.classpath

# Ignorar diretórios de compilação
/target/
/bin/

# Ignorar dependências baixadas pelo Maven
.m2/

# Ignorar logs e arquivos temporários
*.log
*.tmp
*.swp
*.swo

# Ignorar arquivos do sistema operacional (Windows e macOS)
.DS_Store
Thumbs.db

# Ignorar configurações do IntelliJ IDEA (caso outro desenvolvedor use)
.idea/